In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('train.csv')
df.head()

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender,Surge_Pricing_Type
0,T0005689460,6.77,B,1.0,2.42769,A,A,3.90500,0,40.0,46,60,Female,2
1,T0005689461,29.47,B,10.0,2.78245,B,A,3.45000,0,38.0,56,78,Male,2
2,T0005689464,41.58,NaN,10.0,NaN,NaN,E,3.50125,2,NaN,56,77,Male,2
3,T0005689465,61.56,C,10.0,NaN,NaN,A,3.45375,0,NaN,52,74,Male,3
4,T0005689467,54.95,C,10.0,3.03453,B,A,3.40250,4,51.0,49,102,Male,2

In [3]:
df.isnull().sum()

Trip_ID                            0
Trip_Distance                      0
Type_of_Cab                    20210
Customer_Since_Months           5920
Life_Style_Index               20193
Confidence_Life_Style_Index    20193
Destination_Type                   0
Customer_Rating                    0
Cancellation_Last_1Month           0
Var1                           71030
Var2                               0
Var3                               0
Gender                             0
Surge_Pricing_Type                 0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131662 entries, 0 to 131661
Data columns (total 14 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Trip_ID                      131662 non-null  object
 1   Trip_Distance                131662 non-null  float64
 2   Type_of_Cab                  111452 non-null  object
 3   Customer_Since_Months        125742 non-null  float64
 4   Life_Style_Index             111469 non-null  float64
 5   Confidence_Life_Style_Index  111469 non-null  object
 6   Destination_Type             131662 non-null  object
 7   Customer_Rating              131662 non-null  float64
 8   Cancellation_Last_1Month     131662 non-null  int64
 9   Var1                         60632 non-null   float64
 10  Var2                         131662 non-null  int64
 11  Var3                         131662 non-null  int64
 12  Gender                       131662 non-null  object
 13  Surge_Pricing_Type           131662 non-null  int64
dtypes: float64(5), int64(4), object(5)
memory usage: 14.1+ MB

In [5]:
df['Type_of_Cab'].value_counts()

B    31136
C    28122
A    21569
D    18991
E    11634
Name: Type_of_Cab, dtype: int64

In [6]:
df['Surge_Pricing_Type'].value_counts()

2    56728
3    47720
1    27214
Name: Surge_Pricing_Type, dtype: int64

In [7]:
df['Customer_Rating'].value_counts()

2.75000    122
3.50000    120
3.35000    116
2.60000    112
3.20000    109
          ...
4.94875      1
0.14500      1
0.12375      1
0.60500      1
0.03125      1
Name: Customer_Rating, Length: 3931, dtype: int64

In [8]:
temp = df.dropna()

In [9]:
temp.isnull().sum()

Trip_ID                        0
Trip_Distance                  0
Type_of_Cab                    0
Customer_Since_Months          0
Life_Style_Index               0
Confidence_Life_Style_Index    0
Destination_Type               0
Customer_Rating                0
Cancellation_Last_1Month       0
Var1                           0
Var2                           0
Var3                           0
Gender                         0
Surge_Pricing_Type             0
dtype: int64

In [ ]:
appendvr2testdf = pd.get_dummies(temp['Type_of_Cab'],drop_first=True)
temp = pd.concat([temp.drop('Type_of_Cab',axis=1),appendvr2testdf], axis=1)

temp.head()

In [ ]:
appendvr2testdf = pd.get_dummies(temp['Confidence_Life_Style_Index'],drop_first=True)
temp = pd.concat([temp.drop('Confidence_Life_Style_Index',axis=1),appendvr2testdf], axis=1)
appendvr2testdf = pd.get_dummies(temp['Destination_Type'],drop_first=True)
temp = pd.concat([temp.drop('Destination_Type',axis=1),appendvr2testdf], axis=1)
appendvr2testdf = pd.get_dummies(temp['Gender'],drop_first=True)
temp = pd.concat([temp.drop('Gender',axis=1),appendvr2testdf], axis=1)
temp.head()

In [ ]:
temp.corr()['Life_Style_Index']

In [10]:
X = temp[['Trip_Distance','Customer_Rating','Var2','Var3']]
y= temp['Life_Style_Index']

from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [11]:
def lsi_miss(Var2,Var3,Trip_Distance,Customer_Rating,Life_Style_Index):
    if np.isnan(Life_Style_Index)==False:
        return Life_Style_Index
    else:
        X = np.array([Var2, Var3,Trip_Distance,Customer_Rating])
        X = X.reshape(1, -1)
        res = lr.predict(X)
        #print(res[0])
        return float(res[0])

In [12]:
df['Life_Style_Index'] = df.apply(lambda x : lsi_miss(x['Var2'], x['Var3'] , x['Trip_Distance'] , x['Customer_Rating'],x['Life_Style_Index']), axis= 1)
df.isnull().sum()

Trip_ID                            0
Trip_Distance                      0
Type_of_Cab                    20210
Customer_Since_Months           5920
Life_Style_Index                   0
Confidence_Life_Style_Index    20193
Destination_Type                   0
Customer_Rating                    0
Cancellation_Last_1Month           0
Var1                           71030
Var2                               0
Var3                               0
Gender                             0
Surge_Pricing_Type                 0
dtype: int64

In [13]:
(df['Life_Style_Index'][69])

7.408643553015134

In [14]:
tempdf = df.dropna()
tempdf.head()

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender,Surge_Pricing_Type
0,T0005689460,6.77,B,1.0,2.42769,A,A,3.9050,0,40.0,46,60,Female,2
1,T0005689461,29.47,B,10.0,2.78245,B,A,3.4500,0,38.0,56,78,Male,2
4,T0005689467,54.95,C,10.0,3.03453,B,A,3.4025,4,51.0,49,102,Male,2
6,T0005689470,29.72,E,10.0,2.83958,C,B,2.9750,1,83.0,50,75,Male,2
7,T0005689472,18.44,B,2.0,2.81871,B,A,3.5825,0,103.0,46,63,Male,2

In [15]:
df['Customer_Since_Months'].value_counts()

10.0    42680
2.0     11621
3.0     10351
0.0     10169
5.0      8641
1.0      8297
4.0      7726
7.0      7407
6.0      7375
8.0      6328
9.0      5147
Name: Customer_Since_Months, dtype: int64

In [16]:
df['Customer_Since_Months'].fillna(10.0,inplace=True)

In [17]:
df.isnull().sum()

Trip_ID                            0
Trip_Distance                      0
Type_of_Cab                    20210
Customer_Since_Months              0
Life_Style_Index                   0
Confidence_Life_Style_Index    20193
Destination_Type                   0
Customer_Rating                    0
Cancellation_Last_1Month           0
Var1                           71030
Var2                               0
Var3                               0
Gender                             0
Surge_Pricing_Type                 0
dtype: int64

In [18]:
#df = df.drop('Var1',axis=1)
df['Var1'] = df['Var1'].fillna(df['Var1'].mean())

In [19]:
df.isnull().sum()

Trip_ID                            0
Trip_Distance                      0
Type_of_Cab                    20210
Customer_Since_Months              0
Life_Style_Index                   0
Confidence_Life_Style_Index    20193
Destination_Type                   0
Customer_Rating                    0
Cancellation_Last_1Month           0
Var1                               0
Var2                               0
Var3                               0
Gender                             0
Surge_Pricing_Type                 0
dtype: int64

In [ ]:
df.groupby('Type_of_Cab').mean()

In [ ]:
sns.boxplot(x=tempdf['Type_of_Cab'],y=tempdf['Trip_Distance'])

In [20]:
X = tempdf[['Trip_Distance','Customer_Rating','Life_Style_Index','Cancellation_Last_1Month','Customer_Since_Months']]
y = tempdf['Type_of_Cab']

In [21]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

X = sc.fit_transform(X)

In [ ]:
X[2]

In [22]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()

logreg.fit(X,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
def toc_miss(Trip_Distance,Customer_Rating,Life_Style_Index,Cancellation_Last_1Month,Customer_Since_Months,Type_of_Cab):
    if pd.isnull(Type_of_Cab) == False:
        return str(Type_of_Cab)
    else:
        res = logreg.predict([[Trip_Distance,Customer_Rating,Life_Style_Index,Cancellation_Last_1Month,Customer_Since_Months]])
        #print(res[0])
        return res[0]

In [24]:
scaled_features = df.copy()
col_names = ['Trip_Distance','Customer_Rating','Life_Style_Index','Cancellation_Last_1Month','Customer_Since_Months']
features = scaled_features[col_names]
scaler = StandardScaler().fit(features.values)
features = scaler.transform(features.values)

scaled_features[col_names] = features
scaled_features.head()

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender,Surge_Pricing_Type
0,T0005689460,-1.466568,B,-1.427705,-0.616808,A,A,1.076346,-0.754502,40.000000,46,60,Female,2
1,T0005689461,-0.577167,B,1.045336,-0.426190,B,A,0.612378,-0.754502,38.000000,56,78,Male,2
2,T0005689464,-0.102689,NaN,1.045336,2.382870,NaN,E,0.664638,1.173106,64.202698,56,77,Male,2
3,T0005689465,0.680141,C,1.045336,2.280343,NaN,A,0.616202,-0.754502,64.202698,52,74,Male,3
4,T0005689467,0.421157,C,1.045336,-0.290744,B,A,0.563942,3.100714,51.000000,49,102,Male,2

In [25]:
df['Type_of_Cab'] = scaled_features.apply(lambda x : toc_miss(x['Trip_Distance'], x['Customer_Rating'] , x['Life_Style_Index'],x['Cancellation_Last_1Month'], x['Customer_Since_Months'],x['Type_of_Cab']), axis= 1)
df.isnull().sum()

Trip_ID                            0
Trip_Distance                      0
Type_of_Cab                        0
Customer_Since_Months              0
Life_Style_Index                   0
Confidence_Life_Style_Index    20193
Destination_Type                   0
Customer_Rating                    0
Cancellation_Last_1Month           0
Var1                               0
Var2                               0
Var3                               0
Gender                             0
Surge_Pricing_Type                 0
dtype: int64

In [26]:
df['Type_of_Cab'].value_counts()

# B    31136
# C    28122
# A    21569
# D    18991
# E    11634

B    42707
C    35850
A    21603
D    19789
E    11713
Name: Type_of_Cab, dtype: int64

In [ ]:
df.info()

In [ ]:
testdf = pd.read_csv('test.csv')